.popup__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 62px auto 0px;
  height: 39px;
  width: 238px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
}

@media (min-width: 1200px) {
  .popup__name {
    margin: 41px auto 0px;
    width: 358px;
  }
}