.profile__name {
  color: inherit;
  max-width: 189px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  margin: 22.25px auto 0px;
}

@media (min-width: 768px) {
  .profile__name {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .profile__name {
    max-width: 300px;
  }
}