.profile__description {
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 14px auto 0px;
}

@media (min-width: 768px) {
  .profile__description {
    max-width: 223px;
    margin: 16px 0px 0px 0px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1200px) {
  .profile__description {
    max-width: 336px;
    font-size: 18px;
    line-height: 22px;
  }
}
