.header__logo-block {
  max-width: 266px;
  margin: 28px auto 31.6px;
}

@media (min-width: 768px) {
  .header__logo-block {
    max-width: 581px;
    margin: 45px auto 41px;
  }
}

@media (min-width: 1200px) {
  .header__logo-block {
    max-width: 880px;
    margin: 45px auto 41px;
  }
}